

<h1>
  <%= @post.title %>
  <small>by <%= @post.user.name if @post.user %></small>
</h1>

<hr/>

<div class="row">

<div class="col-md-8">

<%= image_tag @post.image.url(), :class=> "img-thumbnail" %>
<br/>

</div>
<div class="col-md-4">

<p class="well">
  <%= @post.description %>
</p>

<p>
$<%= @post.price %>
<%= render 'payola/transactions/checkout',
      sellable: @post, :button_text => "Buy", :email => current_user.email, :name => @post.name %>

<%= form_tag charges_path do %>

  <%= hidden_field_tag :amount, number_with_precision(@post.price, :precision => 2), :class=> "form-control", :width => "50%", :min => number_with_precision(@post.price, :precision => 2), :step => 1 %>

  <%= hidden_field_tag :id, @post.id %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= @post.user.stripe_publishable_key %>"
          data-description="<%= @post.title %>" data-email="<%= current_user.email %>"
          data-amount="<%= @post.price.to_i*100 %>"></script>
<% end %>
</p>

<% if  @post.get_likes.count > 0 %>
 <label class="label label-success"><i class='glyphicon glyphicon-thumbs-up'></i> <%= @post.get_likes.size %></label>
<% end %>

<% if  @post.get_dislikes.count > 0 %>
<label class="label label-danger"><i class='glyphicon glyphicon-thumbs-down'></i> <%= @post.get_dislikes.size %></label>
<% end %>

<br/><br/>
<label>
  <%= @post.views %>   Views
</label>

<br/><br/>

<%# if current_user != nil %>
	<% if  @post.votes_for.by_type(User).voters.include?(current_user) %>

	      <% if @post.votes_for.down.by_type(User).voters.include?(current_user) %>
	      	<%= link_to raw("<i class='glyphicon glyphicon-thumbs-up'></i>  Dope"), dope_path(:id => @post.id), :remote => true, class: "btn fav btn-success", :method => :post %>
	          
	      <% else %>
	        <%= link_to raw("<i class='glyphicon glyphicon-thumbs-down'></i>  Nope"), nope_path(:id => @post.id), :remote => true, class: "btn fav btn-danger", :method => :post %>
	      <% end %>

	<% else %>
		<%= link_to raw("<i class='glyphicon glyphicon-thumbs-up'></i>  Dope"), dope_path(:id => @post.id), :remote => true, class: "btn fav btn-success", :method => :post %>

        <%= link_to raw("<i class='glyphicon glyphicon-thumbs-down'></i>  Nope"), nope_path(:id => @post.id), :remote => true, class: "btn fav btn-danger", :method => :post %>

	        
	<% end %>
<%# end %> 

<hr/>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>
</div>

